<a href="https://colab.research.google.com/github/BeatrizPCandido/Banco_dados/blob/main/Mini_projeto_M%C3%B3dulo_4_Ciclo_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mini-projeto: Lidando com Bancos de Dados

Nesta tarefa, você deverá desenvolver um mini-projeto em Python utilizando SQLite3, colocando em prática os conceitos de criação e manipulação de dados em um banco relacional.


## Objetivo da atividade

* Verificar se você compreende como:

* Criar tabelas em SQLite;

* Inserir dados em um banco de dados;

* Consultar registros de diferentes formas;

* Atualizar informações já cadastradas;

* Excluir registros de uma tabela.

## Formato e Data de Entrega

**Você deve enviar o link para um Google Colab até o dia 28/09.**

## Critérios de avaliação

* Banco criado corretamente, com a estrutura definida.

* Inserção correta de pelo menos 50 registros.

* Consultas SQL funcionando.

* Atualizações realizadas corretamente.

* Exclusões funcionando sem erros.

* Organização e clareza do código.

## O que deve ser feito

### 1. Criar a tabela

* Nome: alunas.

* Colunas obrigatórias:

- id (inteiro, chave primária, autoincremento)

- nome (texto, obrigatório)

- email (texto, único, obrigatório)

- data_nascimento (data, obrigatório)

- data_cadastro (data/hora, com valor padrão atual).

In [ ]:
import sqlite3
from datetime import datetime
import random
import string

# Conexão com o banco de dados local
conn = sqlite3.connect("cinema.db")
cursor = conn.cursor()

# 1️⃣ Criar a tabela alunas
cursor.execute("""
CREATE TABLE IF NOT EXISTS alunas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    data_nascimento DATE NOT NULL,
    data_cadastro DATETIME DEFAULT CURRENT_TIMESTAMP
)
""")
conn.commit()

### 2. Inserir registros

* Inserir pelo menos 50 alunas diferentes na tabela, preenchendo todos os campos obrigatórios.

In [ ]:
# Função para gerar dados fictícios
def gerar_nome():
    nomes = ["Ana", "Beatriz", "Carla", "Daniela", "Eduarda", "Fernanda", "Gabriela", "Helena", "Isabela", "Juliana"]
    sobrenomes = ["Silva", "Souza", "Oliveira", "Costa", "Pereira", "Rodrigues", "Almeida", "Nascimento", "Lima", "Gomes"]
    return f"{random.choice(nomes)} {random.choice(sobrenomes)}"

def gerar_email(nome, i):
    nome_formatado = nome.lower().replace(" ", ".")
    return f"{nome_formatado}{i}@exemplo.com"

def gerar_data_nascimento():
    ano = random.randint(1990, 2005)
    mes = random.randint(1, 12)
    dia = random.randint(1, 28)
    return f"{ano}-{mes:02d}-{dia:02d}"

# Inserindo 50 alunas
for i in range(1, 51):
    nome = gerar_nome()
    email = gerar_email(nome, i)
    nascimento = gerar_data_nascimento()
    cursor.execute("INSERT INTO alunas (nome, email, data_nascimento) VALUES (?, ?, ?)", (nome, email, nascimento))

conn.commit()

### 3. Consultar registros

* Listar todas as alunas cadastradas com SELECT * FROM alunas.

* Consultar apenas alunas nascidas após o ano 2000.

* Consultar alunas filtrando pelo nome ou email (usando WHERE).

#### 4. Atualizar registros

* Alterar o email de pelo menos uma aluna.

* Atualizar o nome de uma aluna existente.

* Corrigir a data de nascimento de pelo menos uma aluna.

In [ ]:
# Listar todas as alunas
cursor.execute("SELECT * FROM alunas")
for linha in cursor.fetchall():
    print(linha)

# Filtrar alunas nascidas após o ano 2000
cursor.execute("SELECT * FROM alunas WHERE data_nascimento > '2000-12-31'")
for linha in cursor.fetchall():
    print(linha)

# Contar total de registros
cursor.execute("SELECT COUNT(*) FROM alunas")
print("Total de alunas:", cursor.fetchone()[0])

(1, 'Ana Maria Silva', 'ana.pereira1@exemplo.com', '1996-01-11', '2025-09-28 19:03:48')
(3, 'Fernanda Nascimento', 'fernanda.nascimento3@exemplo.com', '1990-03-27', '2025-09-28 19:03:48')
(4, 'Carla Costa', 'carla.costa4@exemplo.com', '2003-08-17', '2025-09-28 19:03:48')
(5, 'Helena Almeida', 'helena.almeida5@exemplo.com', '2000-11-05', '2025-09-28 19:03:48')
(6, 'Ana Nascimento', 'ana.nascimento6@exemplo.com', '2001-08-07', '2025-09-28 19:03:48')
(7, 'Daniela Souza', 'daniela.souza7@exemplo.com', '1997-07-19', '2025-09-28 19:03:48')
(8, 'Ana Pereira', 'ana.pereira8@exemplo.com', '1992-08-08', '2025-09-28 19:03:48')
(9, 'Daniela Rodrigues', 'daniela.rodrigues9@exemplo.com', '2001-04-15', '2025-09-28 19:03:48')
(10, 'Fernanda Costa', 'fernanda.costa10@exemplo.com', '2000-04-01', '2025-09-28 19:03:48')
(11, 'Juliana Oliveira', 'juliana.oliveira11@exemplo.com', '2002-01-15', '2025-09-28 19:03:48')
(12, 'Daniela Lima', 'daniela.lima12@exemplo.com', '1995-08-02', '2025-09-28 19:03:48')
(13, 'Beatriz Oliveira', 'beatriz.oliveira13@exemplo.com', '1995-11-26', '2025-09-28 19:03:48')
(14, 'Carla Oliveira', 'carla.oliveira14@exemplo.com', '2004-01-17', '2025-09-28 19:03:48')
(15, 'Gabriela Oliveira', 'gabriela.oliveira15@exemplo.com', '1990-01-02', '2025-09-28 19:03:48')
(16, 'Juliana Costa', 'juliana.costa16@exemplo.com', '2003-07-28', '2025-09-28 19:03:48')
(17, 'Fernanda Almeida', 'fernanda.almeida17@exemplo.com', '1992-01-26', '2025-09-28 19:03:48')
(18, 'Juliana Rodrigues', 'juliana.rodrigues18@exemplo.com', '1996-03-09', '2025-09-28 19:03:48')
(19, 'Juliana Silva', 'juliana.silva19@exemplo.com', '1996-10-08', '2025-09-28 19:03:48')
(20, 'Ana Souza', 'ana.souza20@exemplo.com', '1997-10-09', '2025-09-28 19:03:48')
(21, 'Juliana Silva', 'juliana.silva21@exemplo.com', '2002-05-07', '2025-09-28 19:03:48')
(22, 'Isabela Souza', 'isabela.souza22@exemplo.com', '1992-12-01', '2025-09-28 19:03:48')
(23, 'Fernanda Souza', 'fernanda.souza23@exemplo.com', '1997-05-12', '2025-09-28 19:03:48')
(24, 'Eduarda Oliveira', 'eduarda.oliveira24@exemplo.com', '1999-06-09', '2025-09-28 19:03:48')
(25, 'Carla Oliveira', 'carla.oliveira25@exemplo.com', '2000-09-14', '2025-09-28 19:03:48')
(26, 'Beatriz Silva', 'beatriz.silva26@exemplo.com', '1992-12-26', '2025-09-28 19:03:48')
(27, 'Juliana Souza', 'juliana.souza27@exemplo.com', '2000-02-24', '2025-09-28 19:03:48')
(28, 'Gabriela Lima', 'gabriela.lima28@exemplo.com', '2004-03-20', '2025-09-28 19:03:48')
(29, 'Eduarda Almeida', 'eduarda.almeida29@exemplo.com', '1995-04-22', '2025-09-28 19:03:48')
(30, 'Carla Souza', 'carla.souza30@exemplo.com', '2004-02-02', '2025-09-28 19:03:48')
(31, 'Gabriela Souza', 'gabriela.souza31@exemplo.com', '1991-06-02', '2025-09-28 19:03:48')
(32, 'Eduarda Pereira', 'eduarda.pereira32@exemplo.com', '2001-03-05', '2025-09-28 19:03:48')
(33, 'Carla Pereira', 'carla.pereira33@exemplo.com', '2004-09-07', '2025-09-28 19:03:48')
(34, 'Gabriela Gomes', 'gabriela.gomes34@exemplo.com', '1996-03-10', '2025-09-28 19:03:48')
(35, 'Gabriela Oliveira', 'gabriela.oliveira35@exemplo.com', '1991-08-20', '2025-09-28 19:03:48')
(36, 'Fernanda Lima', 'fernanda.lima36@exemplo.com', '1990-01-23', '2025-09-28 19:03:48')
(37, 'Eduarda Lima', 'eduarda.lima37@exemplo.com', '2004-08-01', '2025-09-28 19:03:48')
(38, 'Eduarda Almeida', 'eduarda.almeida38@exemplo.com', '2001-11-16', '2025-09-28 19:03:48')
(39, 'Juliana Pereira', 'juliana.pereira39@exemplo.com', '1990-06-10', '2025-09-28 19:03:48')
(40, 'Eduarda Nascimento', 'eduarda.nascimento40@exemplo.com', '1999-07-17', '2025-09-28 19:03:48')
(41, 'Beatriz Nascimento', 'beatriz.nascimento41@exemplo.com', '1995-01-11', '2025-09-28 19:03:48')
(42, 'Gabriela Gomes', 'gabriela.gomes42@exemplo.com', '1991-09-10', '2025-09-28 19:03:48')
(43, 'Eduarda Rodrigues', 'eduarda.rodrigues43@exemplo.com', '1994-01-04', '2025-09-28 19:03:48')
(44, 'Carla Lima', 'carla.lima44@exemplo.com', '2005-03-02', '2025-09-28 19:03:48')
(45, 'Helena Silva', 'helena.silva45@exemplo.com', '1995-01-11', '2025-09-28 19:03:48')
(46, 'Beatriz Silva', 'beatriz.silva46@exemplo.com', '2004-04-06', '2025-09-28 19:03:48')
(47, 'Juliana Almeida', 'juliana.almeida47@exemplo.com', '1990-02-15', '2025-09-28 19:03:48')
(48, 'Ana Rodrigues', 'ana.rodrigues48@exemplo.com', '1993-03-12', '2025-09-28 19:03:48')
(49, 'Daniela Nascimento', 'daniela.nascimento49@exemplo.com', '2004-08-13', '2025-09-28 19:03:48')
(50, 'Fernanda Silva', 'fernanda.silva50@exemplo.com', '1993-08-08', '2025-09-28 19:03:48')
(4, 'Carla Costa', 'carla.costa4@exemplo.com', '2003-08-17', '2025-09-28 19:03:48')
(6, 'Ana Nascimento', 'ana.nascimento6@exemplo.com', '2001-08-07', '2025-09-28 19:03:48')
(9, 'Daniela Rodrigues', 'daniela.rodrigues9@exemplo.com', '2001-04-15', '2025-09-28 19:03:48')
(11, 'Juliana Oliveira', 'juliana.oliveira11@exemplo.com', '2002-01-15', '2025-09-28 19:03:48')
(14, 'Carla Oliveira', 'carla.oliveira14@exemplo.com', '2004-01-17', '2025-09-28 19:03:48')
(16, 'Juliana Costa', 'juliana.costa16@exemplo.com', '2003-07-28', '2025-09-28 19:03:48')
(21, 'Juliana Silva', 'juliana.silva21@exemplo.com', '2002-05-07', '2025-09-28 19:03:48')
(28, 'Gabriela Lima', 'gabriela.lima28@exemplo.com', '2004-03-20', '2025-09-28 19:03:48')
(30, 'Carla Souza', 'carla.souza30@exemplo.com', '2004-02-02', '2025-09-28 19:03:48')
(32, 'Eduarda Pereira', 'eduarda.pereira32@exemplo.com', '2001-03-05', '2025-09-28 19:03:48')
(33, 'Carla Pereira', 'carla.pereira33@exemplo.com', '2004-09-07', '2025-09-28 19:03:48')
(37, 'Eduarda Lima', 'eduarda.lima37@exemplo.com', '2004-08-01', '2025-09-28 19:03:48')
(38, 'Eduarda Almeida', 'eduarda.almeida38@exemplo.com', '2001-11-16', '2025-09-28 19:03:48')
(44, 'Carla Lima', 'carla.lima44@exemplo.com', '2005-03-02', '2025-09-28 19:03:48')
(46, 'Beatriz Silva', 'beatriz.silva46@exemplo.com', '2004-04-06', '2025-09-28 19:03:48')
(49, 'Daniela Nascimento', 'daniela.nascimento49@exemplo.com', '2004-08-13', '2025-09-28 19:03:48')
Total de alunas: 49

In [ ]:
# Atualizar nome da aluna com id 1
cursor.execute("UPDATE alunas SET nome = 'Ana Maria Silva' WHERE id = 1")
conn.commit()

### 5. Remover registros

* Excluir pelo menos uma aluna da tabela utilizando DELETE.

* Excluir todas as alunas que tenham data de nascimento anterior a 1990.

In [ ]:
# Excluir aluna com id 2
cursor.execute("DELETE FROM alunas WHERE id = 2")
conn.commit()